@import "card";
@import "button";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
$VeryLightGrayishBlue: hsl(240, 78%, 98%);
$LightGrayishBlue: hsl(234, 14%, 74%);
$GrayishBlue: hsl(233, 13%, 49%);
$DarkGrayishBlue: hsl(232, 13%, 33%);

$LinearGradient1: hsl(236, 72%, 79%);
$LinearGradient2: hsl(237, 63%, 64%);
body {
  margin: calc(1rem + 1vw) 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: $VeryLightGrayishBlue;
  background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}
.price--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.anuualMonthly {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#toggleBtn {
  width: 1.5rem;
  padding: 0.75rem;
  background-color: $LinearGradient2;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 1rem;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
#internalToggle {
  padding: 0.65rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 0.1rem;
  left: 5%;
}
.toggleMove {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}
.monthly {
  display: none;
}
.showMonthly .monthly {
  display: block;
}
.showMonthly .pricing--card--price {
  display: none;
}
.pricing--cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin-top: 2rem;
}

@media screen and (max-width: 40rem) {
  body {
    width: 100vw;
    height: auto;
  }
  .pricing--cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.heart {
  color: red;
  animation: beating 0.25s infinite alternate;
  -webkit-animation: beating 0.25s infinite alternate;
  text-align: center;
}

@keyframes beating {
  to {
    transform: scale(1.4);
  }
}
