@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.card {
  width: 20%;
  margin: 0;
  padding: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.card P {
  width: 90%;
  border-bottom: 1px solid #6d708d;
  padding: 0.5rem;
}

.card .pricing--card--title {
  border-bottom: none;
}

.pricing--card--basic {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pricing--card--professional {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  padding: 2rem;
  margin-top: -0.5rem;
  z-index: 100;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #fff;
}

.pricing--card--master {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 40rem) {
  .card {
    margin: 2rem;
    width: 60%;
    padding: 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .pricing--card--professional {
    margin-top: 1rem;
  }
}

.btn {
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.btn--secondary {
  background-image: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to right, #a3a8f0, #696fdd);
  color: #fff;
}

body {
  margin: calc(1rem + 1vw) 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6fe;
  background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}

.price--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.anuualMonthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#toggleBtn {
  width: 1.5rem;
  padding: 0.75rem;
  background-color: #696fdd;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 1rem;
  position: relative;
}

#toggleBtn:hover {
  cursor: pointer;
}

#internalToggle {
  padding: 0.65rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 0.1rem;
  left: 5%;
}

.toggleMove {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
}

.monthly {
  display: none;
}

.showMonthly .monthly {
  display: block;
}

.showMonthly .pricing--card--price {
  display: none;
}

.pricing--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1;
  margin-top: 2rem;
}

@media screen and (max-width: 40rem) {
  body {
    width: 100vw;
    height: auto;
  }
  .pricing--cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.heart {
  color: red;
  animation: beating 0.25s infinite alternate;
  -webkit-animation: beating 0.25s infinite alternate;
  text-align: center;
}

@-webkit-keyframes beating {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes beating {
  to {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
/*# sourceMappingURL=style.css.map */